openapi: 3.1.0
info:
  title: Antje's Taverne Planning API
  version: 3.0.0
servers:
  - url: https://script.google.com/macros/s/AKfycbz81oYzVxPhoWPuHrVbf8gMA7L1eY7cSe3F3hVFB155IYb-SA1XQ1TVfFNVUsBlCdPs8A
paths:
  /exec:
    get:
      operationId: getPlanning
      summary: Haal planning of bezorglijst op
      x-openai-isConsequential: false
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
            default: JOUW_TOKEN
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [today, week, bezorgingen, werkrooster, medewerkers, menu, klanten]
            description: >
              today = vandaag's kalender entries,
              week = kalender week (verplicht: date),
              bezorgingen = bezorglijst voor één dag (verplicht: datum),
              werkrooster = personeelsrooster voor één week (week of datum),
              medewerkers = lijst van alle medewerkers (naam, type, actief),
              menu = menu voor één dag (verplicht: datum),
              klanten = lijst van alle bezorgklanten.
        - name: date
          in: query
          required: false
          description: Datum in YYYY-MM-DD, verplicht bij action=week
          schema:
            type: string
        - name: datum
          in: query
          required: false
          description: >
            Datum in YYYY-MM-DD. Verplicht bij action=bezorgingen en
            action=menu. Bij action=werkrooster mag dit i.p.v. week —
            server bepaalt de ISO-week.
          schema:
            type: string
        - name: week
          in: query
          required: false
          description: >
            ISO-weeklabel YYYY-WW (bijv. 2026-14) voor action=werkrooster.
            Gebruik dit of datum.
          schema:
            type: string
      responses:
        '200':
          description: Planning entries of bezorglijst (zie action)
    post:
      operationId: postAction
      summary: >
        Eén endpoint voor alle schrijfacties. Het veld action bepaalt het type;
        vul alleen de velden die bij die action horen (zie de beschrijvingen).
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAction'
      responses:
        '200':
          description: Bewerking gelukt
components:
  schemas:
    PostAction:
      type: object
      required: [token, action]
      properties:
        token:
          type: string
          default: JOUW_TOKEN
        action:
          type: string
          enum: [kalender_event, menu, afwijking, afwijking_verwijderen, klant, klant_status, dienst, week_kopieer, week_wissen, medewerker]
          description: >
            kalender_event = nieuw kalender event;
            menu = menu als all-day event;
            afwijking = bezorgafwijking toevoegen;
            afwijking_verwijderen = afwijking verwijderen op datum (verplicht: klant_id, datum);
            klant = nieuwe bezorgklant;
            klant_status = klant activeren of deactiveren (verplicht: klant_id, actief);
            dienst = werkdienst toevoegen/wijzigen/verwijderen;
            week_kopieer = werkrooster van een week kopiëren;
            week_wissen = alle diensten van een week verwijderen (verplicht: week of datum);
            medewerker = medewerker toevoegen/bijwerken.
        kalender:
          type: string
          enum: [taverne, mspa, jules]
          description: >
            Alleen kalender_event. taverne = commercieel (Cosis, KOSKAMP,
            Beweegtuin), mspa = sociaal (sjoelen, rummicub, ExpresZo),
            jules = koffie/ontmoeting (COC, Regenboog Café, Zonder Stempel).
        naam:
          type: string
          description: >
            kalender_event = naam van het event; dienst/medewerker = naam van
            de persoon.
        organisatie:
          type: string
          description: Alleen kalender_event (optioneel).
        locatie:
          type: string
          description: >
            Alleen kalender_event (optioneel). Taverne-ruimtes: 400m, TT,
            Renners, Dug Out, Ballo. MSPA/Jules: Jules Huiskamer.
        aantal:
          type: integer
          description: Alleen kalender_event (optioneel).
        lunch:
          type: string
          description: >
            Alleen kalender_event. ja (standaard = A+B+fruit), nee, of een
            specifieke omschrijving bij afwijking (bijv. vegetarisch, A+fruit).
        notities:
          type: string
          description: Alleen kalender_event (optioneel).
        herhaling:
          type: string
          enum: [dagelijks, wekelijks, tweewekelijks, maandelijks]
          description: >
            Alleen kalender_event. Maakt een terugkerende reeks. De dag/weekdag
            volgt uit datum (bijv. datum op een dinsdag + wekelijks = elke
            dinsdag). Voor "oneven weken": kies een datum in een oneven week +
            tweewekelijks.
        herhaling_tot:
          type: string
          description: >
            Alleen kalender_event. YYYY-MM-DD, optionele einddatum van de reeks.
            Weglaten = blijft doorlopen.
        menu:
          type: string
          description: >
            Alleen menu. Vrije tekst, bv. "aardappel, broccoli, sukade" of
            "stamppot boerenkool".
        datum:
          type: string
          description: >
            YYYY-MM-DD. Bij kalender_event/menu de datum; bij dienst/week_kopieer
            een dag in de bedoelde week (server bepaalt de ISO-week).
        begin:
          type: string
          description: >
            HH:MM. kalender_event: leeg laten = heel-dag event, begin zonder
            eind = 1 uur. dienst: leeg laten = dienst verwijderen.
        eind:
          type: string
          description: HH:MM (optioneel) bij kalender_event of dienst.
        weekdag:
          type: string
          enum: [ma, di, wo, do, vr, za, zo]
          description: Bij afwijking (terugkerend) of dienst.
        week:
          type: string
          description: ISO-weeklabel YYYY-WW voor dienst (of gebruik datum).
        klant_id:
          type: integer
          description: >
            afwijking = verplicht (bestaande klant); klant = optioneel, wordt
            automatisch toegekend als leeg.
        type:
          type: string
          enum: [annulering, wijziging, extra, vast, stagiair, vrijwilliger]
          description: >
            Bij afwijking: annulering / wijziging / extra. Bij medewerker:
            vast / stagiair / vrijwilliger.
        porties:
          type: integer
          description: afwijking (override) of klant (standaard, default 1).
        toetje:
          type: string
          enum: [ja, nee]
          description: Alleen afwijking (override van vast_toetje).
        tijd:
          type: string
          description: HH:MM. Alleen afwijking (override van vaste_bezorgtijd).
        bezorgwijze:
          type: string
          enum: [bezorgen, ophalen, ter_plaatse]
          description: afwijking (override) of klant.
        bezorger:
          type: string
          description: Alleen afwijking (wie er bezorgt op deze dag).
        notitie:
          type: string
          description: Bij afwijking of dienst.
        voornaam:
          type: string
          description: Alleen klant (verplicht).
        achternaam:
          type: string
          description: Alleen klant (optioneel).
        adres:
          type: string
          description: Alleen klant (optioneel).
        telefoon:
          type: string
          description: Alleen klant (optioneel).
        rooster:
          type: string
          description: >
            Alleen klant (verplicht). Comma-separated weekdagen, bv.
            "ma,wo,vr" of "ma,di,wo,do,vr,za".
        vast_toetje:
          type: string
          enum: [ja, nee]
          description: Alleen klant (default nee).
        vaste_bezorgtijd:
          type: string
          description: HH:MM. Alleen klant (verplicht).
        bezorg_opmerkingen:
          type: string
          description: Alleen klant (optioneel).
        dieetwensen:
          type: string
          description: Alleen klant (optioneel).
        actief:
          type: string
          enum: [ja, nee]
          description: klant of medewerker (default ja).
        van:
          type: string
          description: Alleen week_kopieer. Bronweek YYYY-WW (of gebruik van_datum).
        van_datum:
          type: string
          description: Alleen week_kopieer. YYYY-MM-DD in de bronweek.
        naar:
          type: string
          description: Alleen week_kopieer. Doelweek YYYY-WW (of gebruik naar_datum).
        naar_datum:
          type: string
          description: Alleen week_kopieer. YYYY-MM-DD in de doelweek.
